<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <h2 class="title is-2">
          Sign Up
        </h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="field">
            <div class="control">
              <%= f.input :name,
                    required: true,
                    autofocus: true,
                    input_html: {
                      class: 'input',
                      autocomplete: 'email'
                    },
                    wrapper: false,
                    label_html: { class: 'label' } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :username,
                    required: true,
                    input_html: {
                      class: 'input',
                      autocomplete: 'email'
                    },
                    wrapper: false,
                    label_html: { class: 'label' } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :email,
                    required: true,
                    input_html: {
                      class: 'input',
                      autocomplete: 'email'
                    },
                    wrapper: false,
                    label_html: { class: 'label' } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: {
                      class: 'input',
                      autocomplete: 'new-password',
                    },
                    wrapper: false,
                    label_html: { class: 'label' } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.input :password_confirmation,
                  required: true,
                  input_html: {
                    class: 'input',
                    autocomplete: 'new-password',
                  },
                  wrapper: false,
                  label_html: { class: 'label' } %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.button :submit, 'Sign up', class: 'button is-info is-medium' %>
            </div>
          </div>
        <% end %>

        <br />
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>

