<%= simple_form_for(@tweet) do |f| %>
<%= f.error_notification %>
<div class="field">
  <div class="control">
    <%= f.input :body, label: 'Tweeet about it', input_html: { class: 'textarea' }, wrapper: false,
      label_html: { class: 'label' }, placeholder: 'Compose a new tweeet...', autofocus: true %>
  </div>
</div>
<%= f.button :submit, action_name == 'edit' ? 'Update Tweeet' : 'Create Tweeet', class: 'button is-info' %>
<% end %>
