<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Trends</p>
    <p class="panel-block">
      Trend 1
    </p>
    <p class="panel-block">
      Trend 2
    </p>
    <p class="panel-block">
      Trend 3
    </p>
    <p class="panel-block">
      Trend 4
    </p>
    <p class="panel-block">
      Trend 5
    </p>
    <p class="panel-block">
      Trend 6
    </p>
  </nav>
</div>